@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
	background-color: whitesmoke;
	color: #18181b;
}

.dark {
	background-color: #18181b;
	color: whitesmoke;
}

.themeAnim {
	transition: 0.5s all ease;
}

.button_sty {
	height: 2.5rem;
	padding: 0.5rem 1rem;
	color: #6366f1; /* Text color */
	transition: background-color 150ms, color 150ms;
	border: 1px solid #6366f1; /* Border color */
	border-radius: 0.5rem;
	outline: none;
	cursor: pointer;
}

.button_sty:hover {
	background-color: #6366f1; /* Background color on hover */
	color: #e0e7ff; /* Text color on hover */
}
